@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
html {
  height: 100%;
  width: 100%;
}

h1 {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}